<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel ="stylesheet" type="text/css" href="./style.css" ></link>
  <title>Kayenta Store</title>
</head>
<body>
  <div id="app">
    <nav>    
      <div class="cart">
        <h3>Vue Store</h3>
        <p class="grey-box">Cart({{cart.length}})</p>
      </div>
    </nav>

    <!-- <div class="chart">
    </div> -->
    <!-- v-bind omitted -->
    <product :premium="premium"
      @add-to-cart="updateCart"
      @remove-from-cart="removeItem"></product>
    <shoes :premium="premium"
      @add-to-cart="updateCart"
      @remove-from-cart="removeItem"></shoes>
    <chart></chart>
    
  </div>

</body>
</html>



<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
  Vue.component('product', {
    props: {
      premium: {
        type: Boolean,
        required: true
      }
    },
    template: `
      <div class="product">

      <div class="product-image">
        <!-- v-bind omitted -->
        <img class="grey-box" :src="image" />
      </div>

      <div class="product-info">
      <h1>{{ title }}</h1>
      <p v-if="inStock > 10">In Stock</p>
      <p v-else-if="inStock <= 10 && inStock > 0">Only {{inStock}} left!</p>
      <p v-else class="red">Out of Stock</p>
      <p v-if="onSale" class="price">On SALE for just £{{salePrice}}</p>
      <p v-else class="price">£{{price}}</p>

      <p class="shipping">{{ shipping }} Shipping</p>

      <ul>
        <li v-for="detail in details">
          {{detail}}
        </li>
      </ul>

      <div class="size-select">
        <p>Please select a size:</p>
        <select>
          <option v-for="size in sizes">
            {{size}}
          </option>
        </select>
      </div>

      <p>Please select a color:</p>
      <!-- v-bind and v-on omitted -->
      <div class="flex-wrapper">
        <div v-for="(variant, index) in variants" 
          :key="variant.variantId"
          class="color-box"
          :style="{ backgroundColor: variant.variantColor}"
          @mouseover="updateProduct(index)">
        </div>
      </div>

      <br />

      <!-- v-bind omitted -->
      <button v-on:click="addToCart"
        :class="{ disabledBtn: inStock < 1 }">Add 1 to Cart</button>
      <button v-on:click="removeFromCart"
        :class="{ disabledBtn: cart < 1 }">Remove {{ variants[selectedVariant].variantColor }} {{ product }} from Cart</button>

      </div>
      </div>
    `,
    data() {
      return {
        product: 'Socks',
        brand: 'Boston Sports',
        selectedVariant: 0,
        price: 19.99,
        onSale: true,
        salePrice: 9.99,
        details: ['80% cotton', '20% polyester', 'one-size-fits-all'],
        sizes: ['S', 'M', 'L'],
        variants: [
          {
            variantId: 2234,
            variantColor: 'Red',
            variantImage: './images/sox.png',
            variantQuantity: 7
          },
          {
            variantId: 2235,
            variantColor: 'Blue',
            variantImage: './images/bluesox.png',
            variantQuantity: 11
          },
        ],
      }
    },
    methods: {
      addToCart() {
        const selection = this.variants[this.selectedVariant]
        if (selection.variantQuantity > 0) {
          this.$emit('add-to-cart', selection.variantId)
          selection.variantQuantity -= 1
        }
      },
      removeFromCart() {
        const selection = this.variants[this.selectedVariant]
        this.$emit('remove-from-cart', selection.variantId)
        //this.variants[this.selectedVariant].variantQuantity += 1
      },
      updateProduct(index) {
        this.selectedVariant = index
      }
    },
    computed: {
      title() {
        return this.brand + ' ' + this.product
      },
      image() {
        const selection = this.variants[this.selectedVariant]
        return selection.variantImage
      },
      inStock() {
        const selection = this.variants[this.selectedVariant]
        return selection.variantQuantity
      },
      shipping() {
        if (this.premium) {
          return "Free" 
        } 
        return `£${2.99}`
      }
    }
  })

  Vue.component('shoes', {
    props: {
      premium: {
        type: Boolean,
        required: true
      }
    },
    template: `
      <div class="product">

      <div class="product-image">
        <!-- v-bind omitted -->
        <img class="grey-box" :src="image" />
      </div>

      <div class="product-info">
      <h1>{{ title }}</h1>
      <p v-if="inStock > 10">In Stock</p>
      <p v-else-if="inStock <= 10 && inStock > 0">Only {{inStock}} left!</p>
      <p v-else class="red">Out of Stock</p>
      <p v-if="onSale" class="price">On SALE for just £{{salePrice}}</p>
      <p v-else class="price">£{{price}}</p>

      <p class="shipping">{{ shipping }} Shipping</p>

      <ul>
        <li v-for="detail in details">
          {{detail}}
        </li>
      </ul>

      <div class="size-select">
        <p>Please select a size:</p>
        <select>
          <option v-for="size in sizes">
            {{size}}
          </option>
        </select>
      </div>

      <p>Please select a color:</p>
      <!-- v-bind and v-on omitted -->
      <div class="flex-wrapper">
        <div v-for="(variant, index) in variants" 
          :key="variant.variantId"
          class="color-box"
          :style="{ backgroundColor: variant.variantColor}"
          @mouseover="updateProduct(index)">
        </div>
      </div>

      <br />

      <!-- v-bind omitted -->
      <button v-on:click="addToCart"
        :class="{ disabledBtn: inStock < 1 }">Add 1 to Cart</button>
      <button v-on:click="removeFromCart"
        :class="{ disabledBtn: cart < 1 }">Remove {{ variants[selectedVariant].variantColor }} {{ product }} from Cart</button>

      </div>
      </div>
    `,
    data() {
      return {
        product: 'Shoes',
        brand: 'Comfort Casual',
        selectedVariant: 0,
        price: 35.77,
        onSale: false,
        salePrice: 17.38,
        details: ['rubber soles', 'water-resistent', 'arch support'],
        sizes: ['4', '5', '6', '7', '8', '9', '10', '11', '12'],
        variants: [
          {
            variantId: 2236,
            variantColor: 'Green',
            variantImage: './images/shoe.png',
            variantQuantity: 50
          },
          {
            variantId: 2237,
            variantColor: 'Purple',
            variantImage: './images/purpleshoe.png',
            variantQuantity: 5
          },
        ],
      }
    },
    methods: {
      addToCart() {
        const selection = this.variants[this.selectedVariant]
        if (selection.variantQuantity > 0) {
          this.$emit('add-to-cart', selection.variantId)
          selection.variantQuantity -= 1
        }
      },
      removeFromCart() {
        const selection = this.variants[this.selectedVariant]
        this.$emit('remove-from-cart', selection.variantId)
        //selection.variantQuantity += 1
      },
      updateProduct(index) {
        this.selectedVariant = index
      }
    },
    computed: {
      title() {
        return this.brand + ' ' + this.product
      },
      image() {
        const selection = this.variants[this.selectedVariant]
        return selection.variantImage
      },
      inStock() {
        const selection = this.variants[this.selectedVariant]
        return selection.variantQuantity
      },
      shipping() {
        if (this.premium) {
          return "Free" 
        } 
        return `£${2.99}`
      }
    }
  })


  var app = new Vue({
    el: '#app',
    data: {
      premium: true,
      cart: [],
    },
    methods: {
      updateCart(id) {
        this.cart.push(id)
      },
      removeItem(id) {
        this.cart = this.cart.filter(item => {
          return item !== id
        })
      }
    }
  })

</script>